.sec-menu {
    background-color: lightblue;
    height: 60px;
    width: 100%;
    float: left;
}

.main-menu {
    background-color: blue;
    height: 60px;
    width: 100%;
    float: left;
}

.left-nav-bar {
    background-color: red;
    height: 60px;
    width: 100%;
    float: left;
}

.slider {
    background-color:grey;
    height: 60px;
    width: 100%;
    float: left;
}

.footer {
    background-color: pink;
    height: 60px;
    width: 100%;
    float: left;
}